<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="defaultStatementTimeout" value="60"/>
        <setting name="cacheEnabled" value="false"/>
        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="defaultExecutorType" value="REUSE"/><!-- REUSE executor reuses prepared statements. -->
        <setting name="logImpl" value="LOG4J"/>
        <setting name="callSettersOnNulls" value="true"/>
        <!--
        <setting name="defaultScriptingLanguage" value="com.sven.wms.db.handler.xmltagls.CustomXMLLanguageDriver"/>
        -->
    </settings>
    <typeAliases>
    </typeAliases>
    <typeHandlers>
        <typeHandler jdbcType="VARCHAR" handler="com.sven.wms.db.handler.LargeStringTypeHandler"/>
    </typeHandlers>
    <!--
    <environments default="default">
        <environment id="">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED"></dataSource>
        </environment>
    </environments>
    -->
    <mappers>
        <mapper resource="mapper/GenericMapper.xml"/>
    </mappers>
</configuration>